.add-itemtype-btn {
    background-color: var(--dark-cyan);
}
.add-itemtype-btn:hover {
    background-color: var(--forest-green);
}
.send-itemtype-btn {
    background-color: var(--dark-cyan);
}
.send-itemtype-btn:hover {
    background-color: var(--forest-green);
}
.cancel-send-itemtype-btn {
    border: 2px solid var(--dark-cyan);
    color: var(--dark-cyan);
}
.cancel-send-itemtype-btn:hover {
    border: 2px solid var(--forest-green);
    background-color: var(--forest-green);
    color: white;
}
.cancel-delete-itemtype-btn {
    border: 2px solid var(--dark-cyan);
    color: var(--dark-cyan);
}
.cancel-delete-itemtype-btn:hover {
    border: 2px solid var(--forest-green);
    background-color: var(--forest-green);
    color: white;
}
