@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --dark-cyan: #3A8C85;
  --forest-green: #44a36d;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
}